@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* shared styles */
main > section {
  margin-top: 120px;
}
main {
  max-width: 1400px;
  margin: 0 auto;
}
.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
.section-title {
  font-size: 3rem;
  font-weight: 700;
}
.btn-primary {
  background-color: #ff900e;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 20px 25px;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 20px 0 40px;
}
/* navbar styles */
.header {
  background-color: rgba(255, 144, 14, 0.1);
}
.navbar,
.banner-section {
  max-width: 1400px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 3rem;
  font-weight: 700;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}
.nav-link {
  text-decoration: none;
  /* margin-left:4rem;  */
  font-size: 1.3rem;
  font-weight: 500;
}
/* banner styles */
.banner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-description {
  text-align: center;
  max-width: 54rem;
}
.banner-title {
  font-weight: 700;
  font-size: 4rem;
}
.banner-desc {
  font-size: 1rem;
  line-height: 1.5rem;
}
.banner-img img {
  width: 100%;
}

/* feature section styles */
.feature-seciton {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}

.feature-img-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.feature-description {
  margin-left: 7rem;
  max-width: 34rem;
}
.quick-list {
  font-weight: 600;
}
.feature {
  color: #ff900e;
}
.feature-desc {
  font-size: 1rem;
  line-height: 1.3rem;
}

/* speciality styles */
.speciality-section {
  display: flex;
  align-items: center;
  gap: 8.5rem;
}
.speciality-description h3 {
  border-left: 8px solid #ff900e;
  padding-left: 1.3rem;
}
.speciality-desc {
  font-size: 1rem;
  line-height: 1.6rem;
  max-width: 37rem;
}
.speciality-card {
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 1.25rem;
}
.card-title {
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
.card-desc {
  font-size: 1rem;
  line-height: 1.6rem;
}

.speciality-img img {
  z-index: 1;
}
.experience {
  text-align: center;
  background-color: #ff900e;
  max-width: 22rem;
  border-radius: 8px;
  padding: 40px 42px;
  z-index: 2;
  margin-left: -100px;
  margin-top: -100px;
  border: none;
}
.experience .title {
  font-size: 3.5rem;
  color: white;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.experience p {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}
/* fact Styles */
.facts-desc {
  max-width: 34rem;
  line-height: 1.6rem;
}
.fact-number {
  font-size: 45px;
  font-weight: 600;
  margin: 15px;
}
.fact-name {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
}
.fact-card {
  border: 1px solid #ff900e;
  border-radius: 8px;
  text-align: center;
  width: 15rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fact-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  margin-top: 2.5rem;
}
/* sponsor styles */
.sponsors {
  text-align: center;
}
.sponsor-desc {
  max-width: 34rem;
  line-height: 1.6rem;
  justify-self: center;
}

.sponsor-container img {
  filter: grayscale(100%);
}

.sponsor-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}

/* footer styles */
footer {
  background-color: rgba(255, 144, 14, 0.1);
  max-width: 1400px;
  margin: 5rem auto 0;
}
footer p {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.25rem;
}

/* Responsiveness Styles */

@media screen and (max-width: 768px) {
  .navbar,
  .nav-links {
    flex-direction: column;
    align-items: center;
  }
  .nav-links {
    gap: 1rem;
  }

  .speciality-section {
    flex-direction: column;
    align-items: center;
  }
  .speciality-card {
    width: 90%;
    justify-items: center;
  }
  .speciality-img img {
    width: 95%;
  }
  .experience {
    margin: 1rem;
  }
  main > section {
    margin-top: 60px;
  }
}
@media screen and (max-width: 576px) {
  .feature-seciton {
    flex-direction: column;
  }
  .feature-img-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .feature-description {
    margin-left: 1rem;
  }
  .fact-card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 1.5rem;
    gap: 1.5rem;
  }
  .sponsor-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
  }
}
@media screen and (min-width: 577px) and (max-width: 992px) {
  .feature-seciton {
    flex-direction: column;
  }
  .feature-img-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .speciality-section {
    flex-direction: column;
    align-items: center;
  }
  .fact-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
  }
  .sponsor-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
  }
}
